<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>This app requires access to speech recognition in order to provide voice control and dictation features. We need to analyze and process your speech to accurately interpret voice commands, transcribe audio input, and enhance your overall user experience.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>Play using while you are hiking</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDisplayName</key>
		<string>NewEraConnect</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>tracking_user</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSCameraUsageDescription</key>
		<string>Nous avons besoin d'accéder à votre appareil photo pour vous laisser ajouter des
			images à vos activités</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Nous avons besoin d'accéder à votre localisation pour vous afficher sur la carte
			d'activité</string>

		<key>NSPhotoLibraryUsageDescription</key>
		<string>Nous avons besoin d'accéder à votre bibliothèque photo pour vous laisser ajouter des
			images à vos activités</string>
		<key>NSLocationAlways UsageDescription</key>
		<string>Older devices need location.</string>
		<key>NSLocationAlwaysAndWhen InUseUsageDescription</key>
		<string>Always and when in use!</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access to location when in the background.</string>
		<key>NSLocationUsageDescription</key>
		<string>Older devices need location.</string>

		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<false />
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>NSContactsUsageDescription</key>
<string>This app requires access to your contacts in order to provide seamless integration with your address book. We need to access your contacts to allow you to easily invite friends, share content, and communicate with your contacts within the app.</string>
<key>NSMotionUsageDescription</key>
<string>This app requires access to motion data in order to provide accurate step counting and activity tracking. The motion data is used to measure your physical activity, calculate calories burned, and offer personalized fitness insights to help you achieve your health and fitness goals.</string>	
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>This app requires access to your location to provide location-based services and enhance your user experience. We use your location to offer personalized recommendations, find nearby points of interest, and provide navigation assistance.</string>

</dict>
</plist>